p {
    font-family: Lato;
  }
  
  ngb-rating {
    color: red;
    font-size: 40px;
  }
  
  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: red;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
  }
  