<div class="services"> 
    <div class="boxes">
        <div style="width: 32%;">
        <app-rightoffer-service></app-rightoffer-service></div>
        <div class="divcontent divcontent2" *ngFor="let service1 of serviceData">
            <div class="flex">
                <img [src]="service1.image">
                <h2>{{service1.title}}</h2>
            </div>
            <p>{{service1.description}}</p>
            <a href="#">{{service1.button}}</a>
        </div>
        <app-dropleft-service></app-dropleft-service>
    </div>
</div>