<div class="topbar">
    <app-head-nav [headDataList]="HeaderData"></app-head-nav>
    <div class="headtext">
        <h1>{{Headtext.title1}} <br> {{Headtext.title2}}</h1>
        <h1>{{Headtext.title3}} <span>{{Headtext.title4}} </span></h1>
        <p>{{Headtext.description1}} <br> {{Headtext.description2}}</p>
        <button type="button">{{Headtext.button}}</button>
        <img [src]="Headtext.image">
    </div>
</div>

<!-- ___________________________________________________________ -->


<div class="services">
    <h1>{{ourServices}}</h1>
    <span class="headerline"></span>
    
    <div class="boxes">
        <app-our-service></app-our-service>
    </div>
</div>

<!-- ___________________________________________________________ -->
<div class="experience">   
    <app-experience-dataleft [exprLeft]="contentexp"></app-experience-dataleft>
    <span>
        <img [src]="imageWoman" height="490">
    </span>
    <div class="numberexp">
        <div class="fulldiv1">
            <app-experience-data></app-experience-data>
        </div>
    </div>
</div>

<!-- ____________________________________________________________________ -->

<h1 style="text-align: center;margin: 40px;font-size: 2rem; margin-bottom: 0;">{{technologies.header}}</h1>
<span class="headerline"></span>
<div class="row">
    <div class="menu">
        <ul>
             <app-technology-sidebar [menuData]="menulist"></app-technology-sidebar> 
        </ul>
    </div>
    <div class="language">
        <div class="web">
            <h1>{{technologies.title}}</h1>
            <h2 style="margin-top: 20px;font-weight: 400;">{{technologies.type1}}</h2>
            <div class="backend">
                <app-technologies-name></app-technologies-name>
            </div>
            <h2>{{technologies.type2}}</h2>
            <div class="frontend">
                <app-technology-frontend></app-technology-frontend>
            </div>
        </div>
    </div>
</div>

<!-- ____________________________________________________________________ -->


<h1 class="taglinewhyhead">{{taglinewhyhead.header}}</h1>
<span class="headerline"></span>
<p class="taglinewhyp">{{taglinewhypval}}</p>
<div class="empowers">
    <app-expertise-card></app-expertise-card>
</div>

<!-- ____________________________________________________________________ -->

<div class="reviews">
    <div class="reviewword">
        <h1>{{reviews}}</h1>
        <span class="headerline"></span>
        <p>{{headerlineval}}</p>
        <p>{{headerlineval1}}</p>
    </div>
    <div class="reviewsboxes">
        <app-rating-card></app-rating-card>
    </div>

</div>

<!-- ____________________________________________________________________ -->


<div class="awards">
    <h1>{{awards.header1}}<br>{{awards.header2}}</h1>
    <div class="awardimage">
        <app-award-card [awardData]="awardimage" >
        </app-award-card>
    </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="blogs">
    <h1>Our Blogs</h1>
    <span class="headerline"></span>
    <div class="bloggers">
        <app-ourblog-card></app-ourblog-card>
    </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="contactus">
    <div class="formdetail">
        <div class="address">
            <h4>{{contactus.header1}}</h4>
            <app-address-card></app-address-card>
            <div class="place">
                <a href="mailto:solutions@taglineinfotech.com" class="mail"><i
                        class="bi bi-envelope-fill"></i>{{place1}}</a>
            </div>

        </div>
    </div>
    <div class="forms">
        <h1>{{contactus.header2}}</h1>
        <input type="text" placeholder="Full Name"><br>
        <input type="text" placeholder="Phone"><br>
        <input type="email" placeholder="Email"><br>
        <textarea placeholder="Message" rows="3"></textarea><br>
        <button>Send Message</button>
    </div>
</div>

<!-- ____________________________________________________________________ -->

<div class="footer">
    <div class="firstfooter">
        <div class="cont1">
            <h3>{{firstfooter.header}}</h3>
            <p>{{firstfooter.title1}}<span style="color:#d66f37">{{firstfooter.title2}}</span>{{firstfooter.title3}}<span
                    style="color:#d66f37">{{firstfooter.title4}}</span></p>
        </div>
        <div class="cont2">
            <input type="text" placeholder="Email"><span><button>Subscribe</button></span>
            <p>{{firstfooter.title5}}</p>
        </div>
    </div>
    <div class="division">
        <div>
            <app-inquiry-footer></app-inquiry-footer>
        </div>
        <div class="help">
            <h3>{{div2title}}</h3>
            <ul>
                <app-helpadvice-footer></app-helpadvice-footer>
            </ul>
        </div>
        <div class="service">
            <h3>{{div3title}}</h3>
            <ul>
                <app-services-footer></app-services-footer>
            </ul>
        </div>
        <div class="hire">
            <h3>{{div4title}}</h3>
            <ul>
                <app-hiredevelopers-footer></app-hiredevelopers-footer>
            </ul>
        </div>
    </div>

    <div class="lastfooterdiv">
        <img src="../assets/image/tagline-stamp.png">
        <div><a href="" style="text-decoration: none;color: gray;font-size: 17px;">Follow Us <i
                    class="bi bi-facebook"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-globe"></i>

            </a></div>
        <p>© <span style="color:#d66f37">{{firstfooter.title6}}</span>{{firstfooter.title7}}<a href=""
                style="text-decoration: none;color:#d66f37">{{firstfooter.title8}}</a></p>
    </div>
</div>
<router-outlet></router-outlet>
